@(id: Long, todoForm: Form[String])(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Todo</title>
    </head>
    <body>

        <h1>Todo更新</h1>

        @helper.form(action = routes.TodoController.todoUpdate(id)) {
            @helper.CSRF.formField

            <fieldset>

            @helper.inputText(todoForm("name"), '_label -> "やること")

            </fieldset>

            <input type="submit" value="更新">

            }

        @helper.form(action = routes.TodoController.todoDelete(id)) {
            @helper.CSRF.formField

            <input type="submit" value="削除" class="btn danger">

            }

    </body>
</html>